    <!-- start footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
            <a href="#">Upload Here</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Place sticky footer content here.
        </span>
      </div>
    </footer>
    <!-- end footer -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{{ url_for "/js/jquery.min.js" }}"></script>
    <script src="{{ url_for "/js/tether.min.js" }}"></script>
    <script src="{{ url_for "/js/bootstrap.min.js" }}"></script>
    </body>
</html>
