<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for "/css/bootstrap.min.css" }}">
        <link rel="stylesheet" href="{{ url_for "/css/bootstrap-grid.min.css" }}">
        <link rel="stylesheet" href="{{ url_for "/css/main.css" }}">

        <title>GoWiki</title>
    </head> 

    <body>

    <!-- start navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-4">
      <a class="navbar-brand" href="#">GoWiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for .Epath }}">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Diff</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- end navbar -->


    <!-- start left sidebar -->
    <!-- start left sidebar -->
