{{ template "base_top" . }}
<div class="container">

    <h1>ファイル削除</h1>
    <form method="post" action="/delete{{ difflink .Path }}">
        <fieldset>
            <p>
                {{ range .List }}
                <input type="checkbox" name="dpath" value="{{ . }}">{{ getfilename . }}<br>
                {{ end }}
            </p>
            <input type="submit" name="submit" value="Delete">
            <input type="submit" name="submit" value="Back">
        </fieldset>
    </form>
</div>
{{ template "base_bottom" . }}