{{ template "base_top" . }}


<body>
    <h1>Root</h1>
    {{ $dir := .Dirname }}
    <ul>
        {{ range .Filename }}
            <li><a href={{ $dir }}/{{ . }}>{{ . }}</a></li>
        {{ end }}
    </ul>
    <form method="post" action={{ .Uploadpath  }}>
        <input type="submit" value="アップロード">
    </form>
</body>
</html>
