{{ template "base_top.tmpl" }}

<body>
    <h1>Root</h1>
    <ul>
        {{ range . }}
            <li>{{ . }}</li>
        {{ end }}
    </ul>
<!--
    <form method="post" action="/?action=EDIT">
        <input type="submit" value="編集">
    </form>
-->
</body>
</html>
