{{ template "base_top" . }}
    <div class="container">
        {{ $savepath := getactpath .Path "S" }}
        <form method="post" action={{ url_for $savepath }} enctype="multipart/form-data">
            <fieldset>
                <h2>Edit README.md</h2>
                <textarea name="content" rows="20" cols="100">{{ .Content }}</textarea> <br>
            </fieldset>
            <fieldset>
                <input type="text" name="FileName" />
                <select name="ForD">
                    <option value="None">None</option>
                    <option value="File">Create File</option>
                    <option value="Dir">Create Directory</option>
                </select>
            </fieldset>
            <input type="submit" name="submit" value="Update">
            <input type="submit" name="submit" value="Back">
        </form>
    </div>
{{ template "base_bottom" . }}

