{{ template "base_top" . }}
    <div class="container">
        <h1>Edit</h1>
        <form method="post" action={{ url_for .Spath }} enctype="multipart/form-data">
            <fieldset>
                <textarea name="content" rows="20" cols="100">{{ .Content }}</textarea>
                <input type="submit" name="submit" value="Save">
                <input type="submit" name="submit" value="Back">
            </fieldset>
        </form>
    </div>
{{ template "base_bottom" . }}
