{{ template "base_top" . }}

<body>
    <h1>Root</h1>
    <ul>
        {{ range . }}
            <li><a href=./{{ . }}>{{ . }}</a></li>
        {{ end }}
    </ul>
    <form method="post" action="/?action=EDIT">
        <input type="submit" value="編集">
    </form>
{{ template "base_bottom" . }}
