{{ template "base_top.tmpl" }}

<body>
    <h1>Init</h1>
    <p>
    <form method="post" action="/setting">
        Repository: <input type="text" name="rname", size="40">
        <input type="submit" value="送信">
    </form>
    </p>
</body>
</html>
