{{ template "base_top" . }}

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          {{ safehtml .Dirtree }}
        </nav>

    <!-- Begin page content -->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        repo / file 
          {{ safehtml .Content}}
        </main>

      </div>
    </div>

{{ template "base_bottom" . }}
