{{ template "base_top" . }}
    <div class="container">
        <h1>ファイルアップロード</h1>
        <form action="/upload{{ difflink .Path }}" class="dropzone" id="dropzone"></form>
        <form method="post" action="/redirect{{ difflink .Path }}" enctype="multipart/form-data">
            <input type="submit" name="submit" value="Back">
        </form>
    </div>
{{ template "base_bottom" . }}
